.logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        -webkit-animation: spin infinite 20s linear;
        animation: spin infinite 20s linear;
    }
}